--- 
import SectionContainer from '../components/SectionContainer.astro';
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience.astro';
import Briefcase from '../components/Icons/Briefcase.astro';
import Code from '../components/Icons/Code.astro';
import Proyects from '../components/Proyects.astro';
import Hero from '../components/Hero.astro';
import TitleSection from '../components/TitleSection.astro';
import AboutMe from '../components/AboutMe.astro';
import ProfileCheck from '../components/Icons/ProfileCheck.astro';
import Badges from '../components/Badges.astro';
---

<Layout 
  title="Keiner Cordero | Portafolio" 
  >
  <main class="px-4">
    <SectionContainer id="Home" class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Work Experience
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="badges">
      
      <TitleSection>
        <Code class="size-7" />
        Certifications
      </TitleSection>
      <Badges />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <Code class="size-7" />
        Projects
      </TitleSection>
      <Proyects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        About Me
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
</Layout>