---
// src/components/Badges.astro
---

<section class="py-8 px-4">
    <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5 gap-7 justify-center items-center">
        <a href="https://www.credly.com/badges/50158211-514b-4593-a60b-240431dcc3fc/public_url" target="_blank" rel="noopener noreferrer">
            <img src="python-essentials-1.1.png" alt="Nombre del badge" class="w-28 h-28 object-contain hover:scale-105 transition-transform duration-300" />
        </a>
      <a href="https://skillsoft.digitalbadges.skillsoft.com/acd586e1-fc9a-4ca4-acc3-92c20168012e#acc.BopRYfFd" target="_blank" rel="noopener noreferrer">
        <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/138188138" alt="Nombre del badge" class="w-28 h-28 object-contain hover:scale-105 transition-transform duration-300" />
      </a>
      
      <a href="https://skillsoft.digitalbadges.skillsoft.com/ad56035f-1e8d-462a-9c0d-1a2343765bf5#acc.JCX31epQ" target="_blank" rel="noopener noreferrer">
        <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/118434516" alt="Nombre del badge" class="w-28 h-28 object-contain hover:scale-105 transition-transform duration-300" />
      </a>
      <a href="https://skillsoft.digitalbadges.skillsoft.com/aa781713-69ed-4872-99e8-c0cd22ad3550#acc.jlntiHfx" target="_blank" rel="noopener noreferrer">
        <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/122633596" alt="Nombre del badge" class="w-28 h-28 object-contain hover:scale-105 transition-transform duration-300" />
      </a>
      <a href="https://skillsoft.digitalbadges.skillsoft.com/e0df7ed2-ce74-4b4f-a73d-52b92bf61d02#acc.d86tq3Dj" target="_blank" rel="noopener noreferrer">
        <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/122634668" alt="Nombre del badge" class="w-28 h-28 object-contain hover:scale-105 transition-transform duration-300" />
      </a>
      <a href="https://skillsoft.digitalbadges.skillsoft.com/ed7fe4df-f227-41b3-9ed0-57795fdf730d#acc.d1oLSTZt" target="_blank" rel="noopener noreferrer">
        <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/122638059" alt="Nombre del badge" class="w-28 h-28 object-contain hover:scale-105 transition-transform duration-300" />
      </a>
      <a href="https://skillsoft.digitalbadges.skillsoft.com/d60d5227-66a0-4bda-861e-21d79ba761be#acc.HD7TomG6" target="_blank" rel="noopener noreferrer">
        <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/122638726" alt="Nombre del badge" class="w-28 h-28 object-contain hover:scale-105 transition-transform duration-300" />
      </a>
      <a href="https://skillsoft.digitalbadges.skillsoft.com/e8444080-eaa5-4f55-a4fc-1b2cf5166961#acc.PoWJa6Du" target="_blank" rel="noopener noreferrer">
        <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/122641461" alt="Nombre del badge" class="w-28 h-28 object-contain hover:scale-105 transition-transform duration-300" />
      </a>
      <a href="https://skillsoft.digitalbadges.skillsoft.com/e8444080-eaa5-4f55-a4fc-1b2cf5166961#acc.iIgQDvY5" target="_blank" rel="noopener noreferrer">
        <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/122641461" alt="Nombre del badge" class="w-28 h-28 object-contain hover:scale-105 transition-transform duration-300" />
      </a>
      <a href="https://skillsoft.digitalbadges.skillsoft.com/52ff9857-3635-4aec-a558-02191942f045#acc.A6rwyWfk" target="_blank" rel="noopener noreferrer">
        <img src=https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/81957172" alt="Nombre del badge" class="w-28 h-28 object-contain hover:scale-105 transition-transform duration-300" />
      </a>
      <a href="https://skillsoft.digitalbadges.skillsoft.com/eec01088-032d-486f-af40-397a29cbb772#acc.8hxp9Lk5" target="_blank" rel="noopener noreferrer">
        <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/74599489" alt="Nombre del badge" class="w-28 h-28 object-contain hover:scale-105 transition-transform duration-300" />
      </a>
      <a href="https://skillsoft.digitalbadges.skillsoft.com/8d18a219-8919-41bc-bb57-b610ef86c086#acc.HTKGYA5S" target="_blank" rel="noopener noreferrer">
        <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/92272423" alt="Nombre del badge" class="w-28 h-28 object-contain hover:scale-105 transition-transform duration-300" />
      </a>
      <!-- Repetí para más badges -->
    </div>
  </section>
  
  