<header class="flex items-center justify-center w-full mx-auto mt-2">
	<nav class="flex flex-wrap items-center justify-center gap-x-4 md:gap-x-10 opacity-80">
	  <a href="#inicio">'Home'</a>
	  <a href="#experiencia">Experience</a>
	  <a href="#proyectos">Projects</a>
	  <a href="#sobre-mi">About me</a>
	</nav>
  </header>
  