<header class="sticky top-0 z-50 flex items-center justify-center w-full mx-auto backdrop-blur-2xl bg-white/50 dark:bg-black/30 drop-shadow-md transition-all">
	<nav class="flex flex-wrap items-center justify-center gap-x-4 md:gap-x-10 opacity-90 py-3">
	  <a href="#Home" class="text-neutral-800 dark:text-neutral-100 hover:text-blue-600 dark:hover:text-yellow-400 transition-colors duration-300 underline-offset-4 hover:underline">
		Home
	  </a>
	  <a href="#experiencia" class="text-neutral-800 dark:text-neutral-100 hover:text-blue-600 dark:hover:text-yellow-400 transition-colors duration-300 underline-offset-4 hover:underline">
		Experience
	  </a>
	  <a href="#proyectos" class="text-neutral-800 dark:text-neutral-100 hover:text-blue-600 dark:hover:text-yellow-400 transition-colors duration-300 underline-offset-4 hover:underline">
		Projects
	  </a>
	  <a href="#sobre-mi" class="text-neutral-800 dark:text-neutral-100 hover:text-blue-600 dark:hover:text-yellow-400 transition-colors duration-300 underline-offset-4 hover:underline">
		About me
	  </a>
	</nav>
  </header>
  